.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wheel {
  width: 200px;
  height: 200px;
  animation: spin 20s linear infinite;
  margin: 0 auto;
  filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.wheel:hover {
  animation-play-state: paused;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
